* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --gap: 20px;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #0b0f14;
  padding: 24px;
}

.wrap {
  width: min(980px, 96vw);
}

.art {
  aspect-ratio: 1 / 1;
  background: #000;
  padding: var(--gap);
  display: grid;
  gap: var(--gap);

  grid-template-columns: 0.75fr 2fr 2.5fr 1fr 1fr 0.45fr;

  grid-template-rows:
    0.8fr
    2.2fr
    2.2fr
    1fr
    0.75fr
    0.25fr
    0.25fr;
}

.offwhite {
  background: #f3f1e6;
}
.beige {
  background: #efe4cf;
}
.ice {
  background: #dfe7ea;
}
.pale {
  background: #dfe7d5;
}
.grey {
  background: #bfbfbb;
}
.red {
  background: #d52b1e;
}
.yellow {
  background: #f2cf63;
}
.blue {
  background: #241c86;
}
.black {
  background: #12060a;
}

.t1 {
  grid-column: 1 / 3;
  grid-row: 1;
}
.t2 {
  grid-column: 3 / 4;
  grid-row: 1;
}
.t3 {
  grid-column: 4 / 6;
  grid-row: 1;
}

.rightbar {
  grid-column: 6;
  grid-row: 1 / 5;
}

.l1 {
  grid-column: 1;
  grid-row: 2 / 3;
}
.l2 {
  grid-column: 1;
  grid-row: 3 / 5;
}
.l3 {
  grid-column: 1;
  grid-row: 5 / 8;
}

.redbig {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.ybig {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
}

.rp1 {
  grid-column: 4;
  grid-row: 3;
}
.rp2 {
  grid-column: 5;
  grid-row: 3;
}

.bblack {
  grid-column: 2;
  grid-row: 4 / 6;
}

.bgrey {
  grid-column: 3;
  grid-row: 4;
}
.bpale {
  grid-column: 3;
  grid-row: 5;
}
.bthin {
  grid-column: 3;
  grid-row: 6;
}

.bice {
  grid-column: 4 / 6;
  grid-row: 4;
}

.bblue {
  grid-column: 4 / 6;
  grid-row: 5 / 7;
}

.bsmall {
  grid-column: 2;
  grid-row: 6 / 8;
}
.bstrip {
  grid-column: 3 / 6;
  grid-row: 7;
}

.rred {
  grid-column: 6;
  grid-row: 5 / 8;
}
