* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #0b0f14;
  padding: 24px;
}

.wrap {
  width: min(800px, 95vw);
}

.frame {
  background: #ffffff;
  padding: 10px; 
}

.art {
  aspect-ratio: 1 / 1;
  background: #2f2a26;
  padding: 10px;
  display: grid;
  gap: 16px;

  grid-template-columns: 1.15fr 3fr;
  grid-template-rows: 3.1fr 1.2fr;
}

.tile {
  width: 100%;
  height: 100%;
}

.left-top {
  grid-column: 1;
  grid-row: 1;

  display: grid;
  gap: 30px;
  grid-template-rows: 1.5fr 2.2fr;
}

.red {
  grid-column: 2;
  grid-row: 1;
}

.blue {
  grid-column: 1;
  grid-row: 2;
}

.bottom-right {
  grid-column: 2;
  grid-row: 2;

  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 0.05fr;
}

.mini-col {
  display: grid;
  gap: 30px;
  grid-template-rows: 3fr 3fr;
}

.offwhite {
  background: #f4f1e6;
}

.red {
  background: #d9543f;
}

.blue {
  background: #4f93ba;
}

.yellow {
  background: #f0e13a;
}